<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {{name}} | Porfolio
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>

    <nav>
        <span class="logo">{{  name  }}</span>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

<section id="hero">
    <h1>Hi, I'm {{ name }}</h1>
    <p>{{ title }}</p>
    <a href="#projects" style="display:inline-block; margin-top: 2rem; padding: 0.8rem 2rem; background: #6c63ff; color:white; border-radius:8px; text-decoration:none;">See my work</a>
</section>

<section id="about">
    <h2>About me</h2>
    <p>{{ about }}</p>
    <div class = "skills">
        {% for skill in skills %}
        <span class="skill-tag">{{ skill }}</span>
        {% endfor %}
    </div>
</section>

<section id = "projects">
    <h2>Projects</h2>
    <div class = "projects-grid">
        {% for project in projects %}
        <div class="card">
            <h3>{{ project.title }}</h3>
            <p>{{ project.desc }}</p>
            <span class ="tech">{{ project.tech }}</span>
        </div>
        {% endfor %}
    </div>
</section>

<section id="contact">
    <h2>Contact</h2>
    <form action="/contact" method="POST">
        <input type="text" name="name" placeholder="Your name" required>
        <input type="email" name="email" placeholder="Enter your email" required>
        <textarea name="message" placeholder="Your message..." requried></textarea>
        <button type="submit">Send it</button>
    </form>
</section>
</body>
</html>